[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
flask-session = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
